body{
    margin: 0;
    padding: 0;
}

h1, h2{
    font-family: 'Courier New', Courier, monospace;
    color: #eaeafd;
    text-shadow: 4px 4px 5px #283b4d;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 1.2px #243c52;
}

header{
    width: 100vw;
    height: 15vh;
    background: #091798;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

header .head_title{
    margin-left: 3vw;
    cursor: pointer;
    display: inline-flex;
}

.tube_title{
    color: #fffb00;
}

header .icon{
    margin-right: 2vw;
}

aside{
    width: 25vw;
    height: 100%;
    background: #071cd4;
    position: fixed;
    top: 15vh;
    left: 0;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: start;
    z-index: 2;
}

section{
    width: 70vw;
    /* height: 100%; */
    margin: 18vh 27.5vw;
}

span.tab{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    margin-left: 3vw;
    align-self: start;
    align-items: center;
    cursor: pointer;
}

.icon{
    cursor: pointer;
}

.scale{
    transition: transform .5s;
}

.scale:hover{
    transform: scale(1.05, 1.05);
}

span.tab h2{
    margin-left: .5em;
}

@media screen and (max-height: 200px) {
    aside{
        overflow: scroll;
    }
}

@media screen and (max-width: 600px) {
    aside{
        width: 12vw;
    }

    section{
        width: 80vw;
        margin: 18vh 17vw;
    }

    span.tab{
        margin: .5vh 0;
        align-self: center;
    }

    span.tab h2{
        display: none;
    }
}

footer{
    width: 100vw;
    height: 5vh;
    background: #071166;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 3;
}

footer p{
    margin-right: 3vw;
    color: #ffffff;
}