<header>
    <div class="head_title">
        <h1 class="job_title">
            Job
        </h1>
        <h1 class="tube_title">
            Tube
        </h1>
    </div>
    <div class="icon">
        <%- include('../icons/notification.svg') -%>
    </div>
</header>